.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(12, 52, 60, 0.873);
    color: #ffffff;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 0%;
    margin-right: 10px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
  }